:root {
  --primary-color: #00afb9;
  --secondary-color: #fed9b7;
  --support-color: #fdfcdc;
  --accent-color: #f07167;
  --neutral-color: #f8f9fa;
  --dark-color: #1d3557;
  --light-color: #ffffff;
  --gray-color: #ced4da;
  --light-gray-color: #eaeeee;
  --dark-gray-color: #939699;
  --green-color: #50c564;
}

/* Background colors */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-support {
  background-color: var(--support-color);
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-neutral {
  background-color: var(--neutral-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.bg-light-gray {
  background-color: var(--light-gray-color);
}

/* Border colors */
.border-primary {
  border: 1px solid var(--primary-color);
}

.border-secondary {
  border: 1px solid var(--secondary-color);
}

.border-support {
  border: 1px solid var(--support-color);
}

.border-accent {
  border: 1px solid var(--accent-color);
}

.border-neutral {
  border: 1px solid var(--neutral-color);
}

.border-gray {
  border: 1px solid var(--gray-color);
}

.border-bottom-gray {
  border-bottom: 1px solid var(--gray-color);
}

.border-top-gray {
  border-top: 1px solid var(--gray-color);
}

/* Text colors*/
.text-dark {
  color: var(--dark-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-support {
  color: var(--support-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-neutral {
  color: var(--neutral-color);
}

.text-light {
  color: var(--light-color);
}

.text-gray {
  color: var(--gray-color);
}

.text-dark-gray {
  color: var(--dark-gray-color);
}

.text-green {
  color: var(--green-color);
}

/* Shadows */
.shadow-neutral-corner {
  box-shadow: 5px 5px 10px var(--neutral-color);
}

.shadow-neutral-bottom {
  box-shadow: 5px 0px 10px var(--neutral-color);
}

.shadow-light-gray-corner {
  box-shadow: 5px 5px 10px var(--light-gray-color);
}

/* hover */
.hover-light-gray {
  transition: color 0.15s;
}

.hover-light-gray:hover {
  background-color: var(--light-gray-color);
}

.hover-neutral {
  transition: color 0.15s;
}

.hover-neutral:hover {
  background-color: var(--neutral-color);
}

.transparent {
  opacity: 0;
}
