:root {
    --primary-color: #00afb9;
    --secondary-color: #fed9b7;
    --support-color: #fdfcdc;
    --accent-color: #f07167;
    --neutral-color: #f8f9fa;
    --dark-color: #1d3557;
    --light-color: #ffffff;
    --gray-color: #ced4da;
    --dark-gray-color: #939699;
  }


  /* Background colors */
.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-support{
    background-color: var(--support-color);
}

.bg-accent{
    background-color: var(--accent-color);
}

.bg-neutral{
    background-color: var(--neutral-color);
}

.bg-dark{
    background-color: var(--dark-color);
}

.bg-light{
    background-color: var(--light-color);
}

/* Border colors */
.border-primary{
    border: 1px solid var(--primary-color);
}

.border-secondary{
    border: 1px solid var(--secondary-color);
}

.border-support{
    border: 1px solid var(--support-color);
}

.border-accent{
    border: 1px solid var(--accent-color);
}

.border-neutral{
    border: 1px solid var(--neutral-color);
}

.border-gray{
    border: 1px solid var(--gray-color);
}

.border-bottom-gray{
    border-bottom: 1px solid var(--gray-color);
}

.border-top-gray{
    border-top: 1px solid var(--gray-color);
}


/* Text colors*/
.text-dark{
    color: var(--dark-color);
}

.text-primary{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
}

.text-support{
    color: var(--support-color);
}

.text-accent{
    color: var(--accent-color);
}

.text-neutral{
    color: var(--neutral-color);
}

.text-light{
    color: var(--light-color);
}

.text-gray{
    color: var(--gray-color);
}

.text-dark-gray{
    color: var(--dark-gray-color);
}


/* Shadows */
.shadow-neutral-corner{
    box-shadow: 5px 5px 10px var(--neutral-color);
}

.shadow-neutral-bottom{
    box-shadow: 5px 0px 10px var(--neutral-color);
}